.blog{
    width: 80vw;
    display: flex;
    justify-content: center;
    .container{
        overflow: hidden;
        .blog-section{
            //backdrop-filter: blur(1px);
            h2 {
                //font-size: 3rem;
                //line-height: 20px;
                text-align: center;
            }
            .grid{
                display: grid;
                margin-top: 20px;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 15px;

            }

        }
    }
}