@import "../global.scss";

.blogcard {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  @include mobile{
    //background-position: top;

    background-image: none !important;
  }
  border-radius: 20px;
  background-color: white;
  
  .overlay{
  width: 690px;
  height: 230px;

  @include mobile{
    width: 230px;
    height: 350px;
  }
  
  display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
  //vertical-align: middle;
  
  border-radius: 20px;
  border: 1px solid $mainColor;
  overflow: hidden !important;
  
    .content {

      overflow: hidden !important;
      
      //font-family: "Open Sans";
      //background: rgba(0, 0, 255, 0.05);
      //background-size: contain;
      height: 100%;
      //text-align: right;
      @include mobile{
        padding: 0;
      }
      padding-left: 245px;
      padding-top: 7px;
      //padding-right: 500px;
      
      transition: all 500ms ease-in-out;
      padding-right: 10px;
      @include mobile{
        padding: 10px;

      }
      
      //transform: translate(0, 20px);
      //cursor: pointer;
      .date{
        
        font-size: 13px;
        color: $mainColor;
      }

      hr{
        border-top: 2px solid $mainColor;
      }
      
      .header{
        font-size: 16px;
        color: $mainColor;
        .titleLink{
          text-decoration: none;
          color: inherit;
        }
 
      }

      .textContainer{
        overflow: hidden !important;
        line-height: 13px;
        //background-color: aqua;
        
        .text {
          border-radius: 20px;
          font-size: 13px;
          color: black;
          //padding-bottom: 100px;
          
        }

        position: relative;
        //background-color: aqua;

      }

      .textContainer:after{
        position: absolute;

        display: flex;
        bottom: 0;  
        height: 100%;
        width:  100%;
        content: "";
        background: linear-gradient(to top,
          rgba(255,255,255, 1) 20%, 
          rgba(255,255,255, 0) 80%);
      }
      

      .btn {
         
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        
        
        //background-color: black;
        // color: white;
        //padding-left: 50px;
        // text-decoration: none;
        // position: relative;
        .enter{
          @include mobile{
            position: absolute;
            padding-bottom: 42px;
            display: none;
    
          }
          width:15px;
          height:15px;
        }
      }
     
    
    }
  }
}