@import "../global.scss";

.contact{
    width: 80vw;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px) brightness(100%);
    
    .container{
        overflow: hidden;
        .contact-section{
            
            h2 {
                //font-size: 3rem;
                //line-height: 20px;
                text-align: center;
            }

            .blurb-container{
                text-align: center;
                @include mobile{
                    padding-left: 10%;
                    padding-right: 10%;
                    font-size: 12px;
                }
                padding-left: 10%;
                padding-right: 10%;
                // padding-left: 200px;
                // padding-right: 200px;
            }
            

            .email-link{
                display: flex;
                justify-content: center;
                font-size: 9px;
                text-decoration: none;

            }
            overflow: hidden;
            .social-media{
                //float: left;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                //justify-content: space-evenly;
                
                
                .linkedin{
                    overflow: hidden;
                    display: flex;
                    padding-right: 10px;
                    .linkedinImage{
                        width:  42px;
                        height: 42px;
                    }
                    
                    //padding-right: 100px;
                    //padding-bottom: 100px;
                    //background-color: aqua;
                }
                .github{
                    overflow: hidden;
                    width:  50px;
                    height: 50px;
                    
                }
                //height: 100px;
                //object-fit: cover;
            }
            

        }
    }
}