.contact{
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(3px) brightness(100%);
    
    .container{
        overflow: hidden;
        .contact-section{
            
            h2 {
                //font-size: 3rem;
                //line-height: 20px;
                text-align: center;
            }

            .contact-blurb{
                
            }
            

            .email-link{
                display: flex;
                justify-content: center;
                font-size: 15px;
                text-decoration: none;

            }
            overflow: hidden;
            .social-media{
                //float: left;
                display: flex;
                flex-direction: row;
                justify-content: center;

                
                .linkedin{
                    overflow: hidden;
                    width:  100px;
                    height: 100px;
                }
                .github{
                    overflow: hidden;
                    width:  105px;
                    height: 105px;
                }
                //height: 100px;
                //object-fit: cover;
            }
            

        }
    }
}