@import "../global.scss";


.intro{
    width: 80vw;
    margin-top: 10vh;
    @include mobile{
        margin-top: 5vh;
    }
    //display: flex;
    justify-content: center;
    overflow: hidden;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .container{
        overflow: hidden;

        display: flex;
        
        .intro-section{
            //text-align: center;
            display: flex;
            flex-direction: column;
                //align-items: center;

            @include mobile{
                flex-direction: column;
                align-items: center;
            }

            h2 {
                // font-size: 3rem;
                // line-height: 20px;
                
                text-align: center;
                backdrop-filter: blur(1px);
                margin-left: auto;
                margin-right: auto;
                //background-color: aqua;
            }

            .blurb{
               // text-align: center;
               
               //background-color: brown;
               backdrop-filter: brightness(300%);
                display: flex; 
                flex-wrap: wrap; 
                overflow: hidden;
                @include mobile{
                    display: inline-block;
                    width: 90vw;
                    text-align: center;
                    padding-bottom: 10px;
                    
                }
                span{
                    @include mobile{
                        font-size: 1rem;
                    }
                    font-style: italic;
                    font-size: 1.5rem;
                }
                align-items: center;
                justify-content: center;
                
               
                //margin-left: auto;
                //margin-right: auto;
            }

            .innerContainer{
                display: flex;
                flex-direction: row;
                @include mobile{
                    flex-direction: column-reverse;
                    align-items: center;
                    justify-content: center;
                }

                .column{
                    text-align: center;
                    flex: 50%;
                    @include mobile{
                        flex: none;
                    }

                    .imageBreak{
                        @include mobile{
                            display: none;
                        }
                    }

                    .pContainer{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 10%;
                        padding-right: 10%;
                        @include mobile{
                            padding-top: 10px;
                            font-size: 11px;
                            flex-wrap: wrap;
                            padding-left: 47%;
                            padding-right: 47%;
                        }
                        //flex-direction: row;
                        
                        // align-items: center;
                        // justify-content: center;
                        // overflow: hidden;
                        // text-align: center;
                        p{
                            .break{
                                @include mobile{
                                    display: none;
                                }
                            }
                            margin-left: auto;
                            margin-right: auto;
                            backdrop-filter: brightness(300%);
                            
                        }
                    }
                    
                   
                    .imgContainer{
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        margin-left: auto;
                        margin-right: auto;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        text-align: center;

                        @include mobile{
                            width: 6%  !important;
                            height:  6% !important;
                            
                        }
                        
                        //vertical-align: top;
                        //display: inline-block;


                        
                    }
                }
                

                
            }
            

            
            

        }
    }
}

